/**
 * Float Layout Activity
 **/

 *{
     box-sizing: border-box;
 }

body{
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans serif;
     color: #777;
     background: #777;
     width: 960px;
     font-size: 18px;
 }

 header {
     padding: 22px;
     margin-bottom: -10px;
     color: #333;
     background-color: #ebebeb;
     margin-left: 50px;
     margin-right: 50px;
     text-align: center;
     margin-top: 20px;
 }

nav {
    padding: 22px;
    margin-bottom: 20px;
    background-color: #ebebeb;
    color: #333;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
 }

 #left {
    padding: 11px;
    margin-bottom: 18px;
    background-color: #ebebeb;
    color: #333;
    height: 100%;
    float: left;
    width: 56%;
    margin-left: 51px;
    position: relative;
    text-align: center;
 }

 #article {
    padding: 17px;
    margin-bottom: 5px;
    background-color: #777;
    color: #ebebeb;
    height: 60%;
    text-align:center;
}

#h1 {
    padding: 20px;
    margin-bottom: 18px;
    margin-top: 11px;
    background-color: #ebebeb;
    color: #777;
    height: 20%;
}   

#p {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ebebeb;
    color: #777;
    height: 20%;
}

#right {
    padding: 6px;
    background-color: #ebebeb;
    color: #333;
    width: 31%;
    height: 100%;
    padding-bottom: 250px;
    float: left;
    position: relative;
    text-align: center;
    margin-left: 20px;
}

footer {
    padding: 20px;
    clear: both;
    background: #ebebeb;
    margin-left: 50px; 
    margin-right: 50px;
    margin-bottom: 20px;
    text-align: center;
  }